.games{
  box-sizing: border-box;
  height: 100%;
  padding: 20px 2%;
  transform: translateY(3%);
}

.games_content{
  justify-content: center;
  display: grid;
  grid-row-gap: 2em;
  grid-column-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(35em, 1fr));
}

.game-link:hover{
  color: var(--themeColor4);
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 0.3em 0.3em 0 0 var(--themeColor3);
}

.game-item{
  text-align: center;
  justify-content: center;
  display: flex;
  height: 20em;
  border-radius: 1em;
  border: solid 0.1em var(--themeColor3);
}

.game-card-info, .game-card-cover{
  display: grid;
  place-content: center;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 50%;
}

.game-card-cover{
  border-radius: 1em 0 0 1em;
  background-color: var(--themeColor1);
}

.game-card-cover i{
  font-size: 10em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: var(--themeColor2);
}

.game-card-info{
  border-radius: 0 1em 1em 0;
  background-color: var(--themeColor2);
}

.game-card-info h2{
  font-size: 200%;
  padding: 1em 0 0.4em 0;
}

.game-card-info p{
  width: 80%;
  text-align: justify;
  margin-left: 10%;
  padding: 1em 0 2em 0;
  height: 8em;
}

.game-card-info button{
  text-transform: uppercase;
  font-size: 150%;
  height: 3em;
  margin-left: 10%;
  border-color: var(--themeColor1);
  cursor: pointer;
  display: block;
  width: 80%;
  border-radius: 0.7em;
  background-color: var(--themeColor2);
  transition: all 0.2s ease-in;
}

.game-card-info button:hover{
  color: var(--themeColor2);
  background-color: var(--themeColor1);
}

.products{
  margin: 3em 0;
  display: grid;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}

.card-vertical{
  border-radius: 1em;
  border: 0.1em solid var(--themeColor3);
}

.card-vertical-cover{
  border-radius: 1em 1em 0 0;
  background-color: var(--themeColor1);
  display: grid;
  place-content: center;
  height: 8em;
}

.card-vertical button{
  text-transform: capitalize;
  letter-spacing: 0.03em;
  background: var(--themeColor3);
  border-radius: 1em;
  height: 2em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em;
  width: 70%;
}

.card-vertical button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
}

.card-vertical button:hover span{
  padding-right: 0.7em;
}

.card-vertical-info{
  padding: 0 1em;
}

.card-vertical h2{
  padding: 0.5em 0;
}

.card-vertical p{
  padding-bottom: 1em;
}

.card-vertical button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1.5em;
  transition: 0.5s;
}

.card-vertical button:hover span:after {
  opacity: 1;
  right: -0.2em;
}
