.games{
  box-sizing: border-box;
  height: 100%;
  padding: 20px 2%;
  transform: translateY(0%);
  border: 3px solid var(--themeColor4);
}

.games_content{
  justify-content: center;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 40%));
}

.game-link:hover{
  color: var(--themeColor4);
  cursor: pointer;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0 0 var(--themeColor3);
}

.game-item{
  text-align: center;
  justify-content: center;
  display: flex;
  height: 20em;
  border-radius: 1em;
  border: solid 0.1em var(--themeColor3);
}

.game-card-info, .game-card-cover{
  display: grid;
  place-content: center;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 50%;
}

.game-card-cover{
  border-radius: 1em 0 0 1em;
  background-color: var(--themeColor1);
}

.game-card-info{
  border-radius: 0 1em 1em 0;
  background-color: var(--themeColor2);
}

.game-card-info h2{
  font-size: 3em;
  margin: 0.3em 0 0.4em 0;
}

.game-card-info button{
  margin-left: 10%;
  border-color: var(--themeColor1);
  cursor: pointer;
  display: block;
  width: 80%;
  border-radius: 0.5em;
  background-color: var(--themeColor2);
}

.game-card-info button:hover{
  color: var(--themeColor2);
  background-color: var(--themeColor1);
}
