.games{
  box-sizing: border-box;
  height: 100%;
  padding: 20px 2%;
  display: flex;
  
}

.games_content{
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 40%));
}

.game-item{
  justify-content: center;
  height: 300px;
}
