body{
  min-width: 60em;
  min-height: 40em;
}

/* div{
  border: 2px solid black;
} */

.game-area{
  border-radius: 1rem;
  position: absolute;
  top:8em;
  left:50vw;
  transform: translateX(-50%);
  width: max(90vw, 50em);
  height: 80vh;
  min-height: 40em;
  margin-bottom: 5rem;
}

.game-area-letters{
  margin-top: 5%;
}

@media (min-width:1000px) {
  .game-area-letters{
    margin-top: 5%;
  }
}

.game-area-letters ul{
  display: flex;
  justify-content: center;
}

.game-area-letters ul li{
  margin: 0 1rem;
  height: max(10vw, 10rem);
  width: max(10vw, 10rem);
  border-radius: 1rem;
  background-color: var(--themeColor3);
  display: grid;
  place-content: center;
  font-size: max(400%, 5rem);
}

.user-input-interaction{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  column-gap: 0.5rem;
  font-size: 1.8rem;
  border-radius: 1rem;
}

.points-display{
  height: inherit;
  background-color: var(--themeColor3);
  display: inline-grid;
  padding-top: 2rem;
  text-align: center;
  border-radius: 1rem;
}

.user-input-interaction input{
  display: inline-grid;
  height: inherit;
  text-align: center;
  border-radius: 1rem;
}

#upload-word{
  font-size: 3.6rem;
  padding-top: 1rem;
  color: inherit;
  background-color: var(--themeColor3);
  border-radius: 1rem;
  text-align: center;
}
