body{
  min-width: 60em;
  min-height: 40em;
}

div{
  border: 5px solid red;
}

.game-area{
  position: absolute;
  top:8em;
  left:50vw;
  transform: translateX(-50%);
  width: 90vw;
  min-width: 60em;
  height: 80vh;
  min-height: 40em;
}

.game-area-letters{
  margin-top: 20%;
}

.game-area-letters ul{
  display: flex;
  justify-content: center;
}

.game-area-letters ul li{
  border: 3px dashed var(--themeColor1);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 400%;
  margin: 0 1rem;
  height: 10rem;
  width: 10rem;
}
