@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  --themeColor1: #023330;
  --themeColor2: white;
  --themeColor3: #cccccc;
  --themeColor4: #030524
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Varela Round';
  font-size: 1.02em;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
}

a{
  color:inherit;
}

.main-article{
  position: absolute;
  padding: 4em 0 10em 0;
  max-width: 80em;
  min-width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

h1{
  font-size: 400%;
  padding-bottom: 0.2em;
  border-bottom: 3px solid var(--themeColor1);
  margin-bottom: 0.2em;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Varela Round', Helvetica, sans-serif;
}

.login{
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family:
}

.login h2{
  font-size: 35px;
  color: var(--themeColor1);
  border-bottom: 2px solid var(--themeColor1);
  text-align: center;
  line-height: 1;
  padding: 0 0 20px;
  margin: 0 0;
  text-transform: uppercase;
}

.login > ul{
  padding:40px 0 35px;
  margin: 0 0;
}

.login li{
  padding: 0 0 10px;
}

.login li input{
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  text-indent: 15px;
  border: 1px solid;
  border-radius: 5px;
}

.login li input::-webkit-input-placeholder{
  font-size: 15px;
}

.login li input[type="checkbox"]{
  height: 18px;
  width: 18px;
  display: inline-block;
  vertical-align: -4px;
  margin-right: 10px;
  line-height: 36px;
}

.login li input[type="submit"]{
  height: 60px;
  line-height: 60px;
  width: 100%;
  background: var(--themeColor1);
  border-radius: 30px;
  font-size: 20px;
  color: var(--themeColor2);
  border: solid 0.1em var(--themeColor1);
}

.login li input[type="submit"]:hover{
  background: var(--themeColor2);
  color: var(--themeColor1);
}

.login div > ul{
  padding: 0 0;
  display: flex;
  justify-content: center;
  margin: 0 0;
}

.login div ul li{
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.login div ul li ~ li::before{
  content: "";
  width: 1px;
  height: 18px;
  background: #010101;
  position: absolute;
  left: 0;
  transform: rotate(15deg);
}

.login div ul li a, .login a:visited{
  text-decoration: none;
  color: #010101;
}

.signUp li label{
  padding: 0 0.2em;
}
